<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios para funcionalidades de proyectos -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnityLab_EXPOConfig"
        tools:targetApi="31">

        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:theme="@style/Theme.UnityLab_EXPOConfig.NoActionBar"
            tools:targetApi="24">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividades de estudiantes -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.estudiantes.LoginEstudiante"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.MainActivity" />
        </activity>

        <activity
            android:name="com.example.unitylab_expoconfig.ui.estudiantes.RegistroEstudianteActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.MainActivity" />
        </activity>

        <activity
            android:name="com.example.unitylab_expoconfig.ui.inicio.EstudianteActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.MainActivity" />
        </activity>

        <activity
            android:name="com.example.unitylab_expoconfig.ui.equipos.UnirseAEquipoActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.inicio.EstudianteActivity" />
        </activity>

        <activity
            android:name="com.example.unitylab_expoconfig.ui.cartel.GenerarCartelActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.inicio.EstudianteActivity" />
        </activity>

        <!-- Actividad para constancia -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.constancia.GenerarConstanciaActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.inicio.EstudianteActivity" />
        </activity>

        <!-- Actividad registrar equipo -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.equipos.RegistrarEquipoActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.inicio.EstudianteActivity" />
        </activity>

        <!-- Actividades de profesores -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.profesores.LoginProfesor"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.MainActivity" />
        </activity>

        <activity
            android:name="com.example.unitylab_expoconfig.ui.profesores.RegistroProfesorActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.MainActivity" />
        </activity>

        <activity
            android:name="com.example.unitylab_expoconfig.ui.inicio.ProfesorActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.profesores.RegistroProfesorActivity" />
        </activity>

        <activity android:name=".ui.claves.GestionarClavesActivity" />
        <activity android:name=".ui.equipos.GestionarEquiposActivity" />
        <activity android:name=".ui.evaluacion.EvaluarEquiposActivity" />
        <activity android:name=".ui.agenda.AgendaActivity" />

        <!-- Actividades de administrador -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.inicio.AdminActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.MainActivity" />
        </activity>

        <activity
            android:name="com.example.unitylab_expoconfig.ui.administrador.LoginAdministrador"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.MainActivity" />
        </activity>

        <activity
            android:name="com.example.unitylab_expoconfig.ui.administrador.RegistroAdminActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.MainActivity" />
        </activity>

        <!-- Actividades de visitante -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.visitante.VisitanteActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.MainActivity" />
        </activity>

        <!-- Actividad de bienvenida -->
        <activity
            android:name=".ui.inicio.BienvenidaActivity"
            android:exported="false"
            android:theme="@style/Theme.UnityLab_EXPOConfig">
        </activity>

        <!-- NUEVAS ACTIVIDADES PARA GESTIÓN DE PROYECTOS -->

        <!-- Lista de proyectos -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.proyectos.ListaProyectosActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:exported="false"
            android:parentActivityName=".ui.inicio.BienvenidaActivity"
            android:label="@string/proyectos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.inicio.BienvenidaActivity" />
        </activity>

        <!-- Crear proyecto -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.proyectos.CrearProyectoActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:exported="false"
            android:parentActivityName="com.example.unitylab_expoconfig.ui.proyectos.ListaProyectosActivity"
            android:label="@string/crear_proyecto"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.proyectos.ListaProyectosActivity" />
        </activity>

        <!-- Editar proyecto -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.proyectos.EditarProyectoActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:exported="false"
            android:parentActivityName="com.example.unitylab_expoconfig.ui.proyectos.DetalleProyectoActivity"
            android:label="@string/editar_proyecto"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.proyectos.DetalleProyectoActivity" />
        </activity>

        <!-- Detalle del proyecto -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.proyectos.DetalleProyectoActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:exported="false"
            android:parentActivityName="com.example.unitylab_expoconfig.ui.proyectos.ListaProyectosActivity"
            android:label="@string/detalle_proyecto">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.proyectos.ListaProyectosActivity" />
        </activity>

        <!-- Agenda -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.inicio.AgendaActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:exported="false"
            android:parentActivityName="com.example.unitylab_expoconfig.ui.proyectos.ListaProyectosActivity"
            android:label="@string/detalle_proyecto">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.visitante.VisitanteActivity" />
        </activity>

        <!-- Cola de impresión -->
        <activity
            android:name="com.example.unitylab_expoconfig.ui.cartel.ImpresionActivity"
            android:theme="@style/Theme.UnityLab_EXPOConfig"
            android:exported="false"
            android:parentActivityName="com.example.unitylab_expoconfig.ui.inicio.AdminActivity"
            android:label="@string/detalle_proyecto">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.unitylab_expoconfig.ui.inicio.BienvenidaActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>




    </application>

</manifest>